body{
  font-family: 'Montserrat', sans-serif;
}

/* UserShow */
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.top-left {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 16px;
}

.avatar-card {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #fff;
}

