.alert{
  width: 100%;
  height: 40px;
  background: #1D976C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

.alert span{
  padding: 10px;
  display: block;
}

.fa-check-circle{
  color: #1D976C;
}

.close{
  display: none;
}

.close-alert{
  float: right;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .alert{
    height: 85px;
  }
}