.page-footer{
background: black;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, black, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, black, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color:#d4af37 !important;
}
 .footer-copyright{
  background-color: black !important;  /* fallback for old browsers */
  color:#d4af37 !important;
}

.page-footer a, .page-footer p{
  color: #fff;
}