.form-box{
  margin-top: 5%;
  /* border-radius: 5px;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23); */
  padding: 15px;
}

.form-box:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  /* -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22); */
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
}

.block-form{
  padding: 20px;
  margin-top: 5%;
}

.react-tel-input .flag-dropdown {
  right: 0;
  background-color: #fff !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom: 1px solid #eaeaea !important;
}

.react-tel-input .country-list {
  margin: 10px 0 10px -203px;
  width: 280px;
}

.error-color{
  color: red
}

.back-home{
  border: none;
}

.back-home a{
  display: block;
  margin-left: auto;
  border: none;
  color: #d4af37 !important;
  background: none !important;
  box-shadow: none !important;
  cursor: pointer;
}

label {
  color:  #d4af37 !important;
}

input:focus:not([readonly]){
  border-bottom: 1px solid #d4af37 !important;
  box-shadow: 0 1px 0 0 #d4af37 !important;
  color:  #d4af37 !important;
}

.rw-widget-container {
  border: none !important;
  margin-top: 10px;
}

.rw-select-bordered {
  border-left: none !important;
}

button:focus {
  outline: none;
  background-color: #d4af37 !important;
}

.rw-select-bordered:hover, .rw-select-bordered:active {
  background-color: #d4af37 !important;
}

.rw-state-focus>.rw-widget-container{
  box-shadow: none !important;
}

.people-collaps {
  cursor: pointer;
  border: 1px solid #d4af37;
  border-radius: 4px;
  margin-bottom: 40px;
}

.people-collaps span{
width: 100%;
display: block;
padding: 10px;
}

.box-collaps{
  padding: 10px;
  border: 1px solid #d4af37;
  border-radius: 4px;
}

.is-open{
  cursor: pointer;
}

.block-collaps{
  padding: 20px;
}

.rw-popup-container {
  position: relative !important;
}

.asterik-time{
  display: block;
  color: darkgrey;
  font-size: 14px;
  font-weight: bold;
}


.react-numeric-input input:not(.browser-default), .react-numeric-input input:focus:not([readonly]){
  border-bottom: none !important;
  box-shadow: none !important;
}

 b{
    width: 40px !important;
    height: 40px !important;
    border-radius: 50px !important;
    border-color: #d4af37 !important;
    background: #d4af37 !important;
}

select {
  margin-top: 9px !important;
}

input[type="checkbox"]:not(:checked), input[type="checkbox"]:checked {
  opacity: 1 !important;
}
/* Input date */
.rw-calendar-btn-view {
  pointer-events: none !important;
  user-select: none !important;
}

.rw-widget-picker>.rw-select {
  display: none;
}

.reservation{
 margin-top: 40px;
 margin-bottom: 40px;
}

.reservation .fas, .reservation .far{
  color:#d4af37;
  font-size: 20px;
  margin-right: 15px;
  width: 30px;
 }

 .reservation hr {
    width: 156px;
    display: block;
    margin-left: 0;
    border: 1px solid #d4af37 ;

 }

 .fix-click{
  touch-action: manipulation;
 }

 .reservation p {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.next-previous{
  margin: 40px 0px;
}

@media only screen and (max-width: 600px) {
  .block-form {
    margin-top: 0%;
  }
  input, .react-tel-input{
    margin-bottom: 30px !important;

  }
}